{% extends "base.html" %}
{% load static %}

{% block sidenav %}
   {% for item in item_list %}
          <a class="nav-item btn btn-dark" href="{{ item.link }}"> {{ item.item }}</a>
   {% endfor %}
{% endblock sidenav %}


{% block content %}
<div class="container-fluid">
    <div class="row justify-content-evenly row-cols-2">
        <div class="col-6 py-3">
            <div class="card justify-content-center bg-dark text-white"  style="width:30rem;">
                <h1 class=" card-header text-center justify-content-center"> {{book.name}}</h1>
               <img src="{% static book.pic_path %}" class="card-img-top">
                <h5 class="card-title text-center justify-content-center"> {{ book.name }} </h5>
               <p class="card-subtitle mb-2 text-muted text-center"> Added By: {{ book.username }} </p>
               <ul class="list-group list-group-flush text-center justify-content-center">
                   <li class="list-group-item bg-dark text-white">Price: ${{book.price }}</li>
                   <li class="list-group-item bg-dark text-white">Published: {{book.publishdate}}</li>
                   <li class="list-group-item bg-dark text-white"><a href="{{book.web}}">{{book.web}}</a></li>
                   <li class="list-group-item bg-dark text-white"><a class="btn btn-secondary" href="/wishlist_add/{{ book.id }}">Add to Wishlist</a>
               <a class="btn btn-success" href="/shoppingcart_add/{{ book.id }}">Add to Cart</a></li>
               </ul>
           </div>

        </div>
        <div class="col-4 text-center justify-content-center py-3">
        {% for review in reviews %}
            <div class="card text-white bg-dark mb-3 text-center justify-content-center" style="width:18rem;">
                 <div class="card-body">
                        <a><i class="card-title">{{review.username.username}}</i></a>
                        <a><i class="card-subtitle mb-2 text-muted">{{review.created_at}}</i></a>
                        <p class="card-text"><a class="text-info">Comment: </a>{{review.comment}}</p>
                        <a><i class="card-text">Rating: {{review.rating}}</i></a>
                 </div>
            </div>
        {% endfor %}
        </div>
        </div>
    <div class="bg-dark text-white px-5 py-3">
        <div class="row text-center justify-content-center mw-100">
        <form class="review-form" method="GET" action="/review">
            <input type="hidden" name="book_id" id="book_id" value="{{book.id}}"/>
            <div class="form-row">
                <div class="col">
                <textarea class="form-control" rows="4" type="text" name="comment" placeholder="Leave a review for this book today!"></textarea>
                </div>
            <div class="col mb-5">
                <p class="text-uppercase font-weight-bold">Your Rating: </p>
                <div class="rating-wrapper">
                    <input type="radio" id="5" name="rating" value="5" required/><label for="5">5</label>
                    <input type="radio" id="4" name="rating" value="4"/><label for="4">4</label>
                    <input type="radio" id="3" name="rating" value="3"/><label for="3">3</label>
                    <input type="radio" id="2" name="rating" value="2"/><label for="2">2</label>
                    <input type="radio" id="1" name="rating" value="1"/><label for="1">1</label>
                    <br>
                    <input type="submit">
                </div>
            </div>
                </div>
        </form>
        </div>
        </div>
    </div>
{% endblock content%}